:root {
  --base-gap: 2px;
  --color-hover: #c1446b;
  --fontColorGrey: #b3b3ba;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* font-family: "TT Norms", sans-serif; */
  background-color: #fff;
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 60px;
}

.container--xl {
  max-width: 1760px;
}
